<!DOCTYPE html>
<html>
    <head>
        <title>success</title>
        <style>
            head {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }
        </style>
    </head>
    <body>
        <h1>Successfully registered</h1>
        <br>
        <table>
        <tr>
            <td>Name:</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{mail}}</td>
        </tr>
    </table>
    </body>
</html>